/* ==============================
   RESET
   ============================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; text-decoration: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
blockquote, q { quotes: none; }
ol, ul { list-style: none; }
body { line-height: 1; }
table { border-collapse: collapse; border-spacing: 0; }

[hidden] {
    display: none;
}

.edit-link {
    display: none;
}


/* ==============================
   BREAKPOINTS
   ============================== */

$break0: 420px; // Special sub-mobile cases
$break1: 600px; // Catch phones/phablets (default, most of the time...)
$break2: 800px; // Catch small tablets
$break3: 1000px; // Catch full displays/large tablets


/* ==============================
   COLORS
   ============================== */

$tedred: #e62b1e;

$white: #ffffff;
$lightgrey: #fafafa;
$grey: #dddddd;
$midgrey: #999999;
$darkgrey: #555555;
$black: #000000;

$link: #0047c2;
$linkhover: #003287;


/* ==============================
   BOX SHADOW LEVELS
   ============================== */

// [x-offset y-offset blur-radius color]
$level1: 0 .1rem .3rem rgba(0,0,0,0.1);
$level2: 0 .3rem 1rem rgba(0,0,0,0.2);
$level3: 0 .3rem 1rem rgba(0,0,0,0.35);


/* ==============================
   FAWNTS
   ============================== */

$typeface: "Helvetica Neue", Helvetica, Arial, sans-serif;
$maxtypewidth: 800px;


/* ==============================
   IMPORTS
   ============================== */

@import 'partials/type';
@import 'partials/layout';
@import 'partials/brandbar';
@import 'partials/footer';
@import 'partials/oembeds';
@import 'partials/components';
@import 'partials/archives';
@import 'partials/homepage';
@import 'partials/team';
@import 'partials/watch';
@import 'partials/talks';

/* 2019 */
@import 'partials/2019/type';
@import 'partials/2019/hero';
	
/* 2018 */
@import 'partials/2018/hero';
@import 'partials/2018/speakers';
@import 'partials/2018/program';