/* ==============================
   HERO
   ============================== */

#homepage-hero {
    
    height: 300px;
    background-color: #000;
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
    font-weight: 900;
    font-size: 7vw;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,.5);

    .title {
		display: inline-block;
		white-space: nowrap;
        height: 300px;
        line-height: 300px;
    }
	
	.subtitle {
        position: absolute;
        top: 20%;
        text-align: center;
        width: 100%;
        font-size: 4.5vw;
        height: 300px;
        line-height: 300px;
    }

    .screen {
        display: none;
    }

    #play-teaser {
        position: absolute;
        top: 32%;
        text-align: center;
        width: 100%;
        font-size: 1.8vw;
        height: 300px;
        line-height: 300px;
    }

    #play-teaser span {
        position: relative;
        text-shadow: none;
        color: $tedred;
        padding: .5rem 1rem;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        transition: all .2s ease-in-out;
    }

    &:hover #play-teaser span,
    &:focus #play-teaser span {
        background: $tedred;
        color: #fff;
    }
    
}
    

@media screen and (min-width: 400px) {
    #homepage-hero {
        
        height: 350px;
        line-height: 350px;
        
        .title,
        .subtitle,
        #play-teaser {
            height: 350px;
            line-height: 350px;
        }
        
    }
}

@media screen and (min-width: 600px) {
    #homepage-hero {
        
        height: 400px;
        line-height: 400px;
        
        .title,
        .subtitle,
        #play-teaser {
            height: 400px;
            line-height: 400px;
        }
        
    }
}

@media screen and (min-width: 800px) {
    #homepage-hero {
        
        height: 450px;
        line-height: 450px;
        
        .title,
        .subtitle,
        #play-teaser {
            height: 450px;
            line-height: 450px;
        }
        
    }
}

@media screen and (min-width: 1050px) {
    #homepage-hero {
        
        height: 500px;
        line-height: 500px;
        background-size: 1280px auto;
		font-size: 4.5rem;
    
        .subtitle {
            font-size: 3rem;
        }

        #play-teaser {
            font-size: 1.2rem;
        }

        .title,
        .subtitle,
        #play-teaser {
            height: 500px;
            line-height: 500px;
        }
        
    }
}


#homepage-hero.hero-followup {
	
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center 70%;


	#hero-buttons {
		line-height: initial;
		position: absolute;
		width: 100%;
		top: 70%;
		left: 0;
		text-align: center;
	}

	.hero-button {
		display: block;
		font-size: 1rem;
		text-transform: uppercase;
		line-height: 1;
		margin: 0 auto .5rem;
		width: 90%;
	}
	
	.hero-button a {
	
		display: block;
		padding: .5rem 1rem;
		line-height: initial;
		border-radius: 3px;
		color: #fff;
		text-shadow: none;
		background: rgba(0,0,0,.7);
		border: 1px solid #fff;
		box-shadow: 0 .1rem .3rem rgba(0,0,0,.8);
		position: relative;
		top: 0;
		transition: all .1s ease-in-out;

		&:hover {
			background: $tedred;
			border: 1px solid #f00;
			color: #fff;
			top: -2px;
		}

	}
	
}

@media screen and (min-width: 600px) {
    #homepage-hero.hero-followup .hero-button {
        display: inline-block;
        margin: 0;
        width: auto;
    }
}


#hero-player-wrapper {
	
    line-height: initial;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
	
	&.active {
		display: block;
	}
	
	#hero-player-exit {
	
		display: block;
		opacity: 0;
		position: absolute;
		top: 2rem;
		right: 2rem;
		font-size: 1rem;
		padding: .4rem .6rem;
		background: rgba(255,255,255,.5);
		border-radius: .2rem;
		text-transform: uppercase;
		transition: all .2s ease-in-out;
		text-shadow: none;

		&:hover,
		&:focus {
			cursor: pointer;
			color: $tedred;
			background: #fff;
		}

	}
	
	&:hover #hero-player-exit,
	&:focus #hero-player-exit {
		opacity: 1;
	}
	
}
