/* ==============================
   TEDxURI 2019

   SPEAKERS
   ============================== */

.speaker-headline-2019 {
	
	background: #000;
	
	h1 {
		color: #fff;
		font-size: 12vw;
		font-weight: 900;
	}
	
	p {
		color: #fff;
	}
	
}

.speaker-block-2019 {
    
	padding: 0;
	display: block;
	width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
	
	h1,
	h2 {
		font-size: 15vw;
		line-height: 13vw;
		hyphens: manual;
	}
    
    h1 {
        font-weight: 900;
        margin-bottom: .5rem;
		color: #000;
		text-transform: lowercase;
    }

    h2 {
		font-weight: 100;
		color: #000;
		text-transform: lowercase;
    }

    &>div:first-child {
        order: 1;
        flex-basis: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vw;
    }

    &>div:first-child:after {
        display: block;
        content: '';
        clear: both;
    }

    &.reverse>div:first-child {
        order: 2;
    }

    &>div:last-child {
        order: 2;
        box-sizing: border-box;
        flex-basis: 50%;
        padding: 9vw 5vw;
		height: 100vw;
		overflow: hidden;
		position: relative;
    }

    &.reverse>div:last-child {
        order: 1;
    }
	
	&.blocks-pink-white {
		
		&>div:first-child {
			background-color: $pink2019;
		}
		
		&>div:last-child {
			background-color: #fff;
		}
		
	}
	
	&.blocks-pink-black {
		
		&>div:first-child {
			background-color: $pink2019;
		}
		
		&>div:last-child {
			
			background-color: #000;
			
			h1, h2 {
				color: #fff;
			}
			
		}
		
	}
	
	&.blocks-blue-white {
		
		&>div:first-child {
			background-color: $blue2019;
		}
		
		&>div:last-child {
			background-color: #fff;
		}
		
	}
	
	&.blocks-blue-black {
		
		&>div:first-child {
			background-color: $blue2019;
		}
		
		&>div:last-child {
			background-color: #000;
		}
		
		h1, h2 {
			color: #fff;
		}
		
	}
	
	.block-slider {
		
		background: #000;
		padding: 7vw 5vw 3rem;
		font-size: 1rem;
		position: absolute;
		left: 0;
		bottom: calc( -100% - 3rem );
		width: 100%;
		box-sizing: border-box;
		transition: bottom .2s ease-in-out;
		
		p {
			max-width: 100%;
			color: #fff;
			line-height: 1.3rem;
			font-size: .9rem;
		}
		
	}
	
	.block-slider-trigger {
		
		position: absolute;
		color: #fff;
		z-index: 10;
		left: 5vw;
		bottom: 7vw;
		font-size: .8rem;
		width: 100px;
		text-align: center;
		padding: .5rem 0;
		background: #000;
		border-radius: 2px;
		transition: all .2s ease-in-out;
		
		&:hover,
		&:focus {
			cursor: pointer;
		}
		
		&:before {
			display: block;
			position: absolute;
			content: '';
			background: #000;
			width: 12px;
			height: 12px;
			border-radius: 2px;
			transform: rotate(45deg);
			top: -5px;
			left: calc( 50% - 6px );
			transition: all .2s ease-in-out;
		}
			
	}
	
	&>div:last-child.slider-open {
		
		.block-slider {
			bottom: 0;
		}
		
		.block-slider-trigger {
			
			background: #fff;
			color: #000;
			
			&:before {
				top: initial;
				bottom: -5px;
				background: #fff;
			}
			
		}
		
	}
	
	&.blocks-pink-black,
	&.blocks-blue-black {
		
		.block-slider {
			background: #fff;
			
			p {
				color: #000;
			}
			
		}
		
		.block-slider-trigger {
			
			background: #fff;
			color: #000;
			
			&:before {
				background: #fff;
			}
			
		}
		
		&>div:last-child.slider-open {
			
			.block-slider-trigger {

				background: #000;
				color: #fff;

				&:before {
					background: #000;
				}
				
			}
			
		}
		
	}
    
}

@media screen and (min-width: 600px) {
	.speaker-block-2019 {
		
		.block-slider {

			padding: 2rem 5vw 3rem;

			p {
				font-size: 1rem;
				line-height: 1.8;
			}
			
		}
		
		.block-slider-trigger {
			
			bottom: 2rem;
			font-size: .9rem;
			
		}

	}
}

@media screen and (min-width: 800px) {
	.speaker-headline-2019 h1 {
		font-size: 6rem;
	}
	
	.speaker-block-2019 {
        
		display: flex;
		
		h1,
		h2 {
			font-size: 7vw;
			line-height: 6vw;
		}
        
        &>div:first-child,
        &>div:last-child {
            height: 50vw;
        }
        
    }
}