/* ==============================
   TEDxURI 2019

   SPEAKERS
   ============================== */

.speaker-headline-2019 {
	
	background: #000;
	
	h1 {
		color: #fff;
		font-size: 12vw;
		font-weight: 900;
	}
	
	p {
		color: #fff;
	}
	
}

.speaker-block-2019 {
    
	padding: 0;
	display: block;
	width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
	
	&:hover,
	&:focus {
		cursor: pointer;
	}
	
	h1,
	h2 {
		font-size: 15vw;
		line-height: 13vw;
		hyphens: manual;
		position: relative;
	}
    
    h1 {
        font-weight: 900;
        margin-bottom: .5rem;
		color: #000;
		text-transform: lowercase;
    }

    h2 {
		font-weight: 100;
		color: #000;
		text-transform: lowercase;
    }
	
	img {
		width: 100%;
		height: auto;
	}

    &>div:first-child {
        order: 1;
        flex-basis: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vw;
    }

    &>div:first-child:after {
        display: block;
        content: '';
        clear: both;
    }

    &.reverse>div:first-child {
        order: 2;
    }

    &>div:last-child {
		
        order: 2;
        box-sizing: border-box;
        flex-basis: 50%;
        padding: 9vw 5vw;
		height: 100vw;
		overflow: hidden;
		position: relative;
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 200%;
			background: $pink2019;
			transition: transform .2s ease-in-out;
		}
		
		h1,
		h2 {
			transform: translateY(0);
			transition: transform .2s ease-in-out;
		}
		
    }

    &.reverse>div:last-child {
        order: 1;
    }
	
	&.blocks-pink-white {
		
		&>div:first-child {
			background-color: $pink2019;
		}
		
		&>div:last-child {
			
			background-color: #fff;
			
			&:before {
				transform: rotate(20deg) translate(-85%, -25%);
				background: $pink2019;
			}
			
		}
		
		.block-slider p em {
			color: $pink2019;
		}
		
	}
	
	&.blocks-pink-black {
		
		&>div:first-child {
			background-color: $pink2019;
		}
		
		&>div:last-child {
			
			background-color: #000;
			
			&:before {
				transform: rotate(20deg) translate(-85%, -25%);
				background: $pink2019;
			}
			
		}
		
		h1, h2 {
			color: #fff;
		}
		
		.block-slider p em {
			color: $pink2019;
		}
		
	}
	
	&.blocks-blue-white {
		
		&>div:first-child {
			background-color: $blue2019;
		}
		
		&>div:last-child {
			
			background-color: $blue2019;
			
			&:before {
				transform: rotate(-20deg) translate(-46%, -25%);
				background: #fff;
			}
			
		}
		
		.block-slider p em {
			color: $blue2019;
		}
		
	}
	
	&.blocks-blue-black {
		
		&>div:first-child {
			background-color: $blue2019;
		}
		
		&>div:last-child {
			
			background-color: $blue2019;
			
			&:before {
				transform: rotate(-20deg) translate(-46%, -25%);
				background: #000;
			}
			
		}
		
		h1, h2 {
			color: #fff;
		}
		
		.block-slider p em {
			color: $blue2019;
		}
		
	}
	
	.block-slider {
		
		background: #000;
		padding: 7vw 5vw 3rem;
		font-size: 1rem;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		transition: top .2s ease-in-out .1s;
		
		p {
			max-width: 100%;
			color: #fff;
			font-weight: 200;
			font-size: 6vw;
			line-height: 1.5;
			
			em {
				font-style: normal;
				font-weight: 900;
			}
			
		}
		
	}
	
	.block-slider-trigger {
		
		position: absolute;
		color: #fff;
		font-weight: 300;
		z-index: 10;
		left: 5vw;
		bottom: 6vw;
		font-size: 4vw;
		width: 40vw;
		text-align: center;
		padding: 1rem 0;
		background: #000;
		border-radius: 2px;
		transition: all .2s ease-in-out;
		
		&:before {
			display: block;
			position: absolute;
			content: '';
			background: #000;
			width: 16px;
			height: 16px;
			border-radius: 2px;
			transform: rotate(45deg);
			top: -7px;
			left: calc( 50% - 8px );
			transition: all .2s ease-in-out;
		}
			
	}
	
	&.blocks-pink-white,
	&.blocks-pink-black {
		
		&>div:last-child.slider-open:before {
			transform: rotate(0) translate(-100%, -25%);
		}
		
	}
	
	&.blocks-blue-white,
	&.blocks-blue-black {
		
		&>div:last-child.slider-open:before {
			transform: rotate(0) translate(0, -25%);
		}
		
	}
	
	&>div:last-child.slider-open {
		
		h1,
		h2 {
			transform: translateY(-50vw);
		}
		
		.block-slider {
			top: 0;
		}
		
		.block-slider-trigger {
			
			background: #fff;
			color: #000;
			
			&:before {
				top: initial;
				bottom: -5px;
				background: #fff;
			}
			
		}
		
	}
	
	&.blocks-pink-black,
	&.blocks-blue-black {
		
		.block-slider {
			background: #fff;
			
			p {
				color: #000;
			}
			
		}
		
		.block-slider-trigger {
			
			background: #fff;
			color: #000;
			
			&:before {
				background: #fff;
			}
			
		}
		
		&>div:last-child.slider-open {
			
			.block-slider-trigger {

				background: #000;
				color: #fff;

				&:before {
					background: #000;
				}
				
			}
			
		}
		
	}
    
}

@media screen and (min-width: 600px) {
	.speaker-block-2019 .block-slider {
		padding: 5vw 5vw 3rem;
	}
}

@media screen and (min-width: 800px) {
	.speaker-headline-2019 h1 {
		font-size: 6rem;
	}
	
	.speaker-block-2019 {
        
		display: flex;
		
		h1,
		h2 {
			font-size: 7vw;
			line-height: 6vw;
		}
        
        &>div:first-child,
        &>div:last-child {
            height: 50vw;
        }
		
		.block-slider p {
			font-weight: 100;
			font-size: 2.8vw;
		}
		
		.block-slider-trigger {
			font-weight: 200;
			font-size: 2vw;
			width: 20vw;
			bottom: 2vw;
		}
        
    }
}