/* ==============================
   ABOUT
   ============================== */


.team-wrapper {
    margin-top: 2rem;
}

.team-wrapper>div {
    margin-bottom: 0 !important;
}

.team,
.sponsors {
    margin: 0;
    padding: 0;
}

.team {
    
    li {
        list-style: none;
        font-weight: 600;
        border-left: 4px solid #eee;
        padding-left: 1rem;
    }

    li .uri-role {
        font-weight: 400;
        font-size: 1rem;
        color: #555;
    }

    li .tedx-role {
        display: block;
        font-size: 0.9rem;
        color: #62a4bc;
        text-transform: uppercase;
    }
    
}

.sponsors h3 {
	font-size: 1.5rem;
	color: #000;
}

.sponsors .sub-sponsors {
	margin-left: 0;
	padding-left: 1rem;
	border-left: 5px solid #eee;
	color: #62a4bc;
}

.sponsors .sub-sponsors li {
	list-style: none;
    font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
}