/* ==============================
   BRAND BAR
   ============================== */


.skip-link {
    position: absolute;
    left: -9999px;
}

#brandbar {
    
	background: #000;
	border-bottom: 1px solid #555;
	width: 100%;
    padding: 0;
    position: relative;
    z-index: 9990;

    p:empty,
    br {
        display: none;
    }

    div {
        padding: 1.3rem 1rem;
        box-sizing: border-box;
        transition: all .2s ease-in-out;
    }

    img {
        height: 35px;
        transition: height .2s ease-in-out;
    }
    
}

#tedx-nav-label {
    
    position: relative;
    overflow: hidden;
    display: block;
    float: right;
    top: 6px;
    width: 0;
    height: 23px;
    padding-left: calc( 23 / 79 * 100px);
    background-image: url(images/menu.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto 23px;

    &:hover,
    &:focus {
        cursor: pointer;
        background-position: 100% 0;
    }

}

#tedx-nav-toggle {
    
    display: none;

    &:checked ~ #tedx-nav-label {
        background-position: 100% 0;
    }

    &:checked ~ #tedx-nav {
        display: block;
    }
    
}

#tedx-nav {
    
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    z-index: 999;
	margin: 0;

    li {
        list-style: none;
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    a {
		color: #333;
        display: block;
        padding: 1rem .8rem;
    }

    a.active {
        color: $tedred;
    }

    a:hover,
    a:hover {
        background: #eee;
    }
    
}

body.post-type-archive-talk #ln-talks,
body.single-talk #ln-talks,
body.ln-about #ln-about,
body.ln-speakers #ln-speakers,
body.ln-attend #ln-attend {
    a {
        color: $tedred;
    }
}
    

@media screen and (min-width: 800px) {
    
    #tedx-nav-label {
        display: none;
    }
    
    #tedx-nav {
        
        position: relative;
        top: initial;
        right: initial;
        box-shadow: none;
        width: auto;
        float: right;
        display: block;
        height: 35px;
        line-height: 35px;
		background: transparent;
        transition: height .2s ease-in-out, line-height .2s ease-in-out;

        li {
            display: inline-block;
            list-style: none;
            line-height: 35px;
            transition: all .2s ease-in-out;
        }

        li:not(:first-child) {
            margin-left: 3rem;
        }

        a {
			color: #fff;
            padding: 0;
        }

        a:hover,
        a:hover {
            background: transparent;
			color: $tedred;
        }
        
    }
    
}

@media screen and (min-width: 1050px) {
    #brandbar img {
		height: 40px;
	}
    
    #tedx-nav {
        
        height: 40px;
        line-height: 40px;
    
        li {
            line-height: 40px;
            //font-size: .9rem;
        }
        
    }
}