/* ==============================
   COMPONENT LIBRARY
   ============================== */


.cl-card {

	border-radius: .3rem .3rem 0 0;

	h3 {
		font-weight: 600;
		font-size: 1.8rem;
	}

	p {
		font-size: 1rem;
	}

	img {
		border-radius: .3rem .3rem 0 0;
	}

	.cl-button {
		color: #555;
	}

	&:hover .cl-button,
	&:focus .cl-button,
  &:hover .button,
	&:focus .button {
		background: $tedred;
		border-top: 1px solid $tedred;
		color: #fff;
	}

}

.cl-hero {
	background: #000;
}


a.cl-button,
span.cl-button {

    display: inline-block;
	width: initial;
    line-height: 2rem;
    font-size: .8rem;
	font-weight: 600;
    border-radius: 3px;
    padding: 0 .7rem;
    color: #fff;
    border: none;
	text-transform: none;
	letter-spacing: inherit;
   	background: $tedred;

	&:hover,
    &:focus {
        border: none;
        color: #fff;
		background: $tedred;
        box-shadow: 0 .1rem .3rem rgba(0,0,0,.5);
    }

	&.disabled {
		color: #999;
    	border: 1px solid #bbb;

		&:hover,
		&:focus {
			border: 1px solid #666;
			color: #555;
		}

	}

	&.light {
		color: #555;
		background: #fff;
	}

	&.forward {
		position: relative;
		padding-right: 30px;
	}

	&.forward:after {
		position: absolute;
		display: block;
		content: '';
		width: 0;
		height: 0;
		top: calc(50% - 3px);
		right: 12px;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 8px solid #fff;
	}

}
