/* ==============================
   HOMEPAGE
   ============================== */


#engagement {
    
    background: #fff;
    text-align: center;
	
	&.invert {
		
		background: $tedred;
		
		.engagement-location label {
			
			color: #fff;
			
			&:hover {
				color: #fff;
				text-decoration: underline;
			}
				
		}
		
	}

    h1 {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    p {
        max-width: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
	}

    .engagement-location {
		
        position: relative;
        padding-top: 3rem;
		
		img {
			display: inline-block;
			width: 21px;
			margin-left: 15px;
			position: relative;
			top: 1px;
		}
		
		input {
			display: none;
		}

		label {
			font-size: 1.4rem;
			font-weight: 700;
			display: block;
			padding-bottom: 3rem;
			color: #000;
			width: 100%;
			max-width: 100%;
			transition: all .1s ease-in-out;
		}

		label:hover {
			cursor: pointer;
			color: $tedred;
		}

		iframe {
			display: block;
			max-height: 450px;
		}

		#map {
			overflow: hidden;
			height: 0;
			display: block;
			border-bottom: 1px solid #eee;
			transition: height .3s ease-in-out;
		}

		input:checked ~ #map {
			height: 450px;
			border-bottom: none;
		}
		
    }
	
	.engagement-actions {
		
		padding: 2rem 0;
		
		&>div {
			display: inline-block;
		}
		
		.cl-button {
			margin: 0 .5rem;
		}
		
		.hashtag {
			margin-top: .5rem;
		}
		
	}
    
}

@media screen and (min-width: 375px) {
	
    #engagement {
		
        h1 {
            font-size: 2.2rem;
        }
        
        img {
            margin-left: 20px;
		}
		
		.hashtag {
			margin-top: 0;
			margin-left: 1rem;
		}
		
	}
	
}