/* ==============================
   SPEAKERS
   ============================== */

.speaker-headline {

	background: #000;

	h1 {
		color: #fff;
		font-size: 12vw;
		font-weight: 900;
	}

	p {

		color: #fff;
		font-size: 1.8rem;
		font-weight: 200;
		max-width: 100%;

		em {
			font-style: normal;
			font-weight: 300;
			color: $tedred;
		}

	}

}

.speaker-block {

	padding: 0;
	display: block;
	width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;

	&:hover,
	&:focus {
		cursor: pointer;
	}

	h1,
	h2 {
		font-size: 15vw;
		line-height: 13vw;
		hyphens: manual;
		position: relative;
	}

  h1 {
    font-weight: 900;
    margin-bottom: .5rem;
		color: $tedred;
		text-transform: lowercase;
  }

  h2 {
		font-weight: 100;
		color: #000;
		text-transform: lowercase;
  }

	h3 {

		font-size: 4vw;
		position: relative;
		text-transform: uppercase;
		line-height: 1.2;
		max-width: 80%;

		&:before {
			display: block;
			position: absolute;
			top: -10px;
			left: 0;
			content: '';
			height: 4px;
			width: 20%;
			background-color: $tedred;
		}

	}

	img {
		width: 100%;
		height: auto;
		transform: scale(1);
		transform-origin: 50% 80%;
		transition: transform .3s ease-in-out;
	}

  &>div:first-child {
      order: 1;
      flex-basis: 50%;
      height: 100vw;
			background-color: #fff;
  }

  &>div:first-child:after {
      display: block;
      content: '';
      clear: both;
  }

  &>div:last-child {

    order: 2;
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 9vw 5vw;
		height: 100vw;
		overflow: hidden;
		position: relative;
		background-color: #fff;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 200%;
			background: #ddd;
			transition: transform .2s ease-in-out .1s;
			transform: rotate(20deg) translate(15%, -25%);
		}

		h1,
		h2 {
			transform: translateY(0);
			transition: transform .2s ease-in-out .05s;
		}

  }

  &.reverse {

		&>div:first-child {
	      order: 2;
	  }

		&>div:last-child {
      order: 1;
  	}

		&>div:last-child {

			background-color: #fff;

			&:before {
				transform: rotate(-20deg) translate(-46%, -25%);
				background: #ddd;
			}

		}

	}

	.watch-talk {

		position: absolute;
		bottom: 6vw;
		right: 5vw;
		z-index: 20;

		a {
			display: block;
			background: #fff;
			padding: .7rem 2rem;
			border-radius: 4px;
			border: 5px solid #000;
			color: #000;
			font-size: 4vw;
			box-sizing: border-box;
			text-transform: lowercase;
			transition: all .2s ease-in-out;

			&:hover,
			&:focus {
				background: #000;
				color: #fff;
			}

		}

	}

	.block-slider {

		padding: 7vw 5vw 3rem;
		font-size: 1rem;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		transition: top .2s ease-in-out;

		p {
			max-width: 100%;
			color: #000;
			font-weight: 200;
			font-size: 5vw;
			line-height: 1.5;

			em {
				font-style: normal;
				font-weight: 900;
				color: $tedred;
			}

		}

	}

	.block-slider-trigger {

		position: absolute;
		color: #fff;
		font-weight: 300;
		left: 5vw;
		bottom: 6vw;
		font-size: 4vw;
		text-transform: lowercase;
		width: 40vw;
		text-align: center;
		padding: 1rem 0;
		background: #000;
		border-radius: 2px;
		transition: all .2s ease-in-out;

		&:before {
			position: absolute;
			display: block;
			content: '';
			top: -2.5vw;
			left: calc( 50% - 2.5vw );
			width: 5vw;
			height: 5vw;
			overflow: hidden;
			background-color: transparent;
			background-image: url(images/open_close.svg);
			background-position: left center;
			background-repeat: no-repeat;
			background-size: auto 100%;
			transform: rotate(0);
			transition: transform .2s ease-in-out;
		}

	}

	&.slider-open {

		img {
			transform: scale(1.15);
			transition: transform .3s ease-in-out;
		}

		.block-slider {
			top: 0;
			transition: top .2s ease-in-out;
		}

		.block-slider-trigger:before {
			transform: rotate(45deg);
		}

		&>div:last-child {

			&:before {
				transform: rotate(0) translate(0%, -25%);
				transition: transform .2s ease-in-out;
			}

			h1,
			h2 {
				transform: translateY(-100vw);
				transition: transform .2s ease-in-out .1s;
			}

		}

		&.reverse>div:last-child:before {
			transform: rotate(0) translate(0, -25%);
		}

	} // .slider-open

}

@media screen and (min-width: 600px) {

	.speaker-block {

		.block-slider {
			padding: 5vw 5vw 3rem;
		}

		.block-slider-trigger:before {
			top: -2vw;
			left: calc( 50% - 2vw );
			width: 4vw;
			height: 4vw;
		}

	}

}

@media screen and (min-width: 800px) {
	.speaker-headline h1 {
		font-size: 6rem;
	}

	.speaker-block {

		display: flex;

		h1,
		h2 {
			font-size: 7vw;
			line-height: 6vw;
		}

		h3 {
			font-size: 1.8vw;
		}

    &>div:first-child,
    &>div:last-child {
        height: 50vw;
    }

		.watch-talk {

			bottom: 2vw;
			right: 2vw;

			a {
				font-size: 2vw;
			}
			
		}

		.block-slider p {
			font-size: 2.5vw;
		}

		.block-slider-trigger {

			font-size: 2vw;
			width: 20vw;
			bottom: 2vw;

			&:before {
				top: -1vw;
				left: calc( 50% - 1vw );
				width: 2vw;
				height: 2vw;
			}

		}

  }

}
