/* 2023 Speakers */

.speaker-block {
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 5px solid $grey;
}

.speaker-block .headshot img {
	box-sizing: border-box;
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
	transform: scale(.7) translatey(-12%);
	box-shadow: .5rem .5rem 0 $tedred;
}

.speaker-block .writeup p {
	line-height: 1.8rem;
	color: $black;
	font-size: 1.2rem;
}

.speaker-block .writeup h2 {
	font-size: 3rem;
	color: $tedred;
}

.speaker-block .writeup h2 span {
	font-weight: 200;
	display: block;
}

.speaker-deck {
	color: $black;
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	border-bottom: 5px solid $tedred;
}