/* ==============================
   WATCH
   ============================== */

#speaker-videos {
    
    .cl-card {
        background: #222;
        
        h3 {
            color: #fff;
            margin-bottom: 0;
        }
        
        p {
            color: $tedred;
            font-size: 1.5rem !important;
            line-height: 1.2;
        }
        
        .cl-button {
            border-top: 1px solid #444;
            color: #fff !important;
        }
        
    }
    
}